# https://packaging.python.org/en/latest/specifications/version-specifiers/#id5
Babel
filelock
hypercorn[uvloop]
jsonschema
pydantic~=2.5.1
pygeofilter
pyproj
python-dateutil~=2.8.2
pyyaml
requests~=2.32
rtree
setuptools~=70.0
shapely~=2.0.4-r0
tqdm
urllib3~=1.26.15

quart
quart-cors
