# https://packaging.python.org/en/latest/specifications/version-specifiers/#id5
Babel
requests
jsonschema
pydantic~=2.5.1
urllib3
pygeofilter
pyproj
python-dateutil
pyyaml
filelock
setuptools
hypercorn[uvloop]
shapely~=2.0.4-r0
rtree
setuptools~=70.0
shapely~=2.0.4-r0
tqdm
urllib3~=1.26.15

quart
quart-cors
quart-auth

orjson
