{% extends "_base.html" %}
{% block title %}{{ super() }} {% trans %}Connected Systems API{% endtrans %} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="./connected-systems">{% trans %}Connected Systems API{% endtrans %}</a>
{% endblock %}
{% block body %}

<section id="identification">
    <h4>Collection '{{ data['id'] }}'</h4>
</section>

<section id="collections">
    <h4>Metadata</h4>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Type</td>
            <td>{{ data['type'] }}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{ data['title'] }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ data['description'] }}</td>
        </tr>
        <tr>
            <td>ItemType</td>
            <td>{{ data['itemType'] }}</td>
        </tr>
        <tr>
            <td>FeatureType</td>
            <td>{{ data['featureType'] }}</td>
        </tr>
        </tbody>
    </table>

    <h4>Links</h4>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Format{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for v in data["links"] %}
        <tr>
            <td data-label="name">
                <a title="{{ v['title'] | striptags | truncate }}"
                   href="{{ v['href'] }}">
                    <span>{{ v['title'] | striptags | truncate }}</span></a>
            </td>
            <td data-label="format">
                {{ v['type'] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
